<!DOCTYPE html>
<html lang="en" 
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="header">
		<title>Tatami - Authentication</title>
		<meta charset="utf-8"></meta>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<meta name="description" content=""></meta>
		<meta name="author" content="Ippon Technologies"></meta>
	
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}"></link>
		<link rel="stylesheet/less" href="assets/css/tatami-custom-mobile.less" th:href="@{/assets/css/tatami-custom-mobile.less}"></link>
		<link rel="shortcut icon" href="assets/img/ippon.ico" th:href="@{/assets/img/ippon.ico}"></link>

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->		
  	</head>
	<body>
		<!-- TOP BAR Templates -->
		<div id="topbar-login" th:fragment="topbar-login" class="navbar navbar-fixed-top topbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="#"><img src="/assets/img/ippon-logo.png" th:src="@{/assets/img/ippon-logo.png}"></img>Tatami</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li class="active"><a href="/tatami/login" th:href="@{/login}"><i class="icon-lock icon-white"/> Login</a></li>
							<li><a href="/tatami/about" th:href="@{/about}"><i class="icon-info-sign icon-white"></i> About</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div id="topbar-about" th:fragment="topbar-about" class="navbar navbar-fixed-top topbar" >
			<div class="navbar-inner">	
				<div class="container">
					<a class="brand" href="#"><img src="/assets/img/ippon-logo.png" th:src="@{/assets/img/ippon-logo.png}"></img>Tatami</a>
					<div class="nav-collapse noMargin noPadding">
						<ul class="nav">
							<li><a href="/tatami/home" th:href="@{/home}"><i class="icon-home icon-white"></i>Home</a></li>
							<li class="active"><a href="#"><i class="icon-info-sign icon-white"></i>About</a></li>
						</ul>
						<ul class="nav pull-right">
							<li><a href="/tatami/logout" th:href="@{/logout}"><i class="icon-user icon-white"></i> Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div id="topbar-home" th:fragment="topbar-home" class="navbar navbar-fixed-top topbar" >
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#"><img src="/assets/img/ippon-logo.png" th:src="@{/assets/img/ippon-logo.png}"></img>Tatami</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li class="active"><a href="/tatami/home" th:href="@{/home}"><i class="icon-home icon-white"></i>Home</a></li>
	                        <li><a href="/tatami/about" th:href="@{/about}"><i class="icon-info-sign icon-white"></i>About</a></li>
						</ul>
						<ul class="nav pull-right">
							<li><a href="/tatami/logout" th:href="@{/logout}"><i class="icon-user icon-white"></i> Logout</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
	</body>
	  	
	<!-- FOOTER Templates -->							
	<footer id="center-footer" th:fragment="footer">
   		<div id="footerText" >Copyright 2012 <a href="http://www.ippon.fr">Ippon Technologies</a> |
       	 	<a href="https://github.com/ippontech/tatami">Fork Tatami on Github</a> |
        		<a href="http://blog.ippon.fr">Blog Ippon</a> |
        		<a href="https://twitter.com/#!/ippontech">Follow @ippontech on Twitter</a>
   		</div>
   		<script type="text/javascript" src="assets/js/jquery-min.js" th:src="@{/assets/js/jquery-min.js}"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
		<script type="text/javascript" src="assets/js/less-1.3.0.min.js" th:src="@{/assets/js/less-1.3.0.min.js}"></script>        		
	</footer>
	<div id="home-javascript" th:fragment="home-javascript">
		<script th:inline="javascript">
			/*<![CDATA[*/
			
       		var login =  /*[[${sec.principal.username}]]*/ "jdubois";
           	
			// Retrieve the default Nb Tweets value from the server				           
			var DEFAULT_TWEET_LIST_SIZE = /*[[${DEFAULT_TWEET_LIST_SIZE}]]*/ 10;
			
			// Retrieve the default Nb Favorite value from the server				           
			var DEFAULT_FAVORITE_LIST_SIZE = /*[[${DEFAULT_FAVORITE_LIST_SIZE}]]*/ 10;
			
			// Retrieve the default Nb Tag value from the server				           
			var DEFAULT_TAG_LIST_SIZE = /*[[${DEFAULT_TAG_LIST_SIZE}]]*/ 10;

			// Retrieve the default tweet first fetch size value from the server				           
			var TWEET_FIRST_FETCH_SIZE = /*[[${TWEET_FIRST_FETCH_SIZE}]]*/ 5;
			
			// Retrieve the default tweet second fetch size value from the server				           
			var TWEET_SECOND_FETCH_SIZE = /*[[${TWEET_SECOND_FETCH_SIZE}]]*/ 10;
			
			// Retrieve the default tweet third fetch size value from the server				           
			var TWEET_THIRD_FETCH_SIZE = /*[[${TWEET_THIRD_FETCH_SIZE}]]*/ 20;
			
			
			var TWEET_NB_PATTERN = /*[[${TWEET_NB_PATTERN}]]*/ "";
			var TWEET_NB_REGEXP = new RegExp(TWEET_NB_PATTERN, "g");
			
			var START_TWEET_INDEX_PATTERN = /*[[${START_TWEET_INDEX_PATTERN}]]*/ "";
			var START_TWEET_INDEX_REGEXP = new RegExp(START_TWEET_INDEX_PATTERN, "g");
			
			var END_TWEET_INDEX_PATTERN = /*[[${END_TWEET_INDEX_PATTERN}]]*/ "";
			var END_TWEET_INDEX_REGEXP = new RegExp(END_TWEET_INDEX_PATTERN, "g");
			
			var USER_LOGIN_PATTERN = /*[[${USER_LOGIN_PATTERN}]]*/ "";
			var USER_LOGIN_REGEXP = new RegExp(USER_LOGIN_PATTERN, "g");
			
			var TAG_PATTERN = /*[[${TAG_PATTERN}]]*/ "";
			var TAG_REGEXP = new RegExp(TAG_PATTERN, "g");
			
			
			var HTTP_GET = 'GET';
			
			var HTTP_POST = 'POST';
			
			var JSON_DATA = 'json';
			
			var JSON_CONTENT = 'application/json; charset=UTF-8';
           	/*]]>*/
       	</script>

		<script src="/assets/js/tatami/mobile/tatami-mobile.js" th:src="@{/assets/js/tatami/mobile/tatami-mobile.js}"></script>        	 
<!-- 		<script src="/assets/js/tatami/mobile/common.js" th:src="@{/assets/js/tatami/mobile/common.js}"></script>        	 -->
<!--        	<script src="/assets/js/tatami/mobile/user.js" th:src="@{/assets/js/tatami/mobile/user.js}"></script> -->
<!--        	<script src="/assets/js/tatami/mobile/follow.js" th:src="@{/assets/js/tatami/mobile/follow.js}"></script>				 -->
<!-- 		<script src="/assets/js/tatami/mobile/lines.js" th:src="@{/assets/js/tatami/mobile/lines.js}"></script> -->
<!-- 		<script src="/assets/js/tatami/mobile/init.js" th:src="@{/assets/js/tatami/mobile/init.js}"></script>   -->
	</div>		  	
</html>  	