<!DOCTYPE html>
<html lang="en" 
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
	  
    <div id="sessionTimeOutModal" th:fragment="sessionTimeOutModal" class="modal" style="display: none;">
	    <div class="modal-header center">
			<span>Session Timeout</span>
			<a class="close" data-dismiss="modal">&times;</a>
	    </div>
	    
	    <div class="modal-body row-fluid noMargin noPadding alert-error">
			Your session has expired. You will be redirected to the login page
	    </div>
	    
	    
    </div>

</html>
	  