<!DOCTYPE html>
<html lang="en" 
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
	  
    <div id="userSearchModal" th:fragment="userSearchModal" class="modal" style="display: none;">
	    <div class="modal-header center">
			<span>User Search Results</span>
			<a class="close" data-dismiss="modal">&times;</a>
	    </div>
	    
	    <div class="modal-body row-fluid noMargin noPadding">
			<table class="row-fluid">
				<tbody id="userSearchList">
				</tbody>
			</table>
	    </div>
	    
	    
    </div>

</html>
	  