<!DOCTYPE html>
<html lang="en" 
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
	  
    <div id="userProfileModal" th:fragment="userProfileModal" class="modal" style="display: none;">
	    <div class="modal-header center userDetailsTitle">
			<span id="userProfileLogin">@duyhai</span>
			<a class="close userProfileClose" data-dismiss="modal">&times;</a>
	    </div>
	    
	    <div class="modal-body row-fluid noMargin noPadding">
			<div id="userProfileGravatar" class="span3">
				<img class="tweetGravatar"
					src="http://www.gravatar.com/avatar/"
					></img>
			</div>
	    	
	    	<div id="userProfileInfo" class="span8 noMargin">
	    		<div id="userProfileName" class="row-fluid noMargin"></div>
	    		<div id="userProfileLocation" class="row-fluid noMargin">
	    			<span class="span3 userProfileLabel">Location:&nbsp;</span><span></span>
				</div>
    			<div id="userProfileWebsite" class="row-fluid noMargin">
	    			<span class="span3  userProfileLabel">Website:&nbsp;</span><a href="" target="_blank"></a> 
    			</div>	    		
	    		<div id="userProfileBio" class="row-fluid noMargin">
	    		</div>
	    	</div>
	    </div>
	    
	    <div id="userProfileStats" class="modal-footer row-fluid noMargin">
			<div class="span4 center">
				<span id="userProfileTweetsCount" class="badge"
					data-user="" 
					data-modal-hide=".modal">1</span><br/>TWEETS
			</div>
			<div class="span4 center">
				<span id="userProfileFriendsCount" class="badge"
				data-friends=""
				data-modal-hide=".modal">0</span><br/>FRIENDS
			</div>
			<div class="span4 center">
				<span id="userProfileFollowersCount" class="badge"
				data-followers=""
				data-modal-hide=".modal">0</span><br/>FOLLOWERS
			</div>
	    </div>
	    
	    <div id="userProfileAction" class="modal-footer noMargin center">
	    	<a id="userProfileDoWrite" href="#" class="btn" title="Message"
	    		data-direct-message=""
	    		data-modal-hide=".modal"
	    	>
	    		<i class="icon-envelope"></i>&nbsp;Message
	    	</a>
	    	&nbsp;
	    	<a id="userProfileDoQuote" href="#" class="btn" title="Quote"
	    		data-quote=""
	    		data-modal-hide=".modal"	    	
	    	>
	    		<i class="icon-share"></i>&nbsp;Quote
	    	</a>
	    	&nbsp;
	    	<a id="userProfileDoFollow" href="#" class="btn btn-primary" title="Follow"
	    		data-follow=""
	    		data-modal-hide=".modal"	    	
	    	>
	    		<i class="icon-eye-open icon-white"></i>&nbsp;Follow
	    	</a>
	    	&nbsp;
	    	<a id="userProfileDoForget" href="#" class="btn btn-danger" title="Forget"
	    		data-unfollow=""
	    		data-modal-hide=".modal"	    	
	    	>
	    		<i class="icon-eye-close icon-white"></i>&nbsp;Forget
	    	</a>	    	
	    	&nbsp;
	    	<a id="userProfileDoBlock" href="#" class="btn btn-inverse" title="Block"
	    		data-block=""
	    		data-modal-hide=".modal"	    	
	    	>
	    		<i class="icon-ban-circle icon-white"></i>&nbsp;Block
	    	</a>	  	 
	    </div>
    </div>

</html>
	  