<!DOCTYPE html>
<html lang="en" 
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">

	<div id="userTemplate" th:fragment="userTemplate" style="display: none;">
		<table>
			<tbody>
            	<tr id="emptyUserTemplate">
					<td colSpan="2">
						No new people to follow today ...
					</td>            	
            	</tr>
            	<tr id="emptyUserSearchTemplate">
					<td colSpan="2" class="center">
						No user found for your search ...
					</td>            	
            	</tr>
            	<tr id="fullUserTemplate" class="internalUserCells data">
         			<td>
         					<img class="tweetGravatar" 
						src="http://www.gravatar.com/avatar/012411?s=32"
						data-user="">
						</img>
         			</td>
         			<td>
         				<a class="userLink" href="#" style="text-decoration:none;" 
         						data-modal-hide=".modal" data-user="" title="">
							<em>@login</em>
						</a>
         			</td>
         			<td>
         				<span class="userDetailsName">DuyHai DOAN</span>
         			</td>
         			<td>
         				TWEETS<br/><span class="badge" data-user="" data-modal-hide=".modal">1</span>
         			</td>
            		<td class="userAction">
            			<a href="#">
            				<i></i>
            			</a>&nbsp;
            		</td>
            	</tr>
			</tbody>			
		</table>
		<table id="userPaddingTemplate">
			<tr style="display: none;">
				<td colSpan="5" class="center">
				</td>            	
	        </tr>
        </table>		
	</div>			  
</html>	  