body {
	padding-top: 60px; 
	/* 60px to make the container go all the way to the bottom of the top bar */
}

@black: #000000;  

.normalFont
{
	color: @black;
}

#tweetsList, #favTweetsList, #userTweetsList, #tagTweetsList {
 .normalFont;
  tr
  {
  	vertical-align: top;
  	td:nth-of-type(1)
  	{
  		width: 34px;
  	}
  }
}

.lineContent
{
	overflow-y: auto;
	max-height: 600px !important;
}  

#friendTweetsList {
 .normalFont;
}

.iconCell {
    text-align: right !important;
    vertical-align: middle !important;
}

.tweetFriend
{
	width: 20%;
	.iconCell;
}
.tweetDate {
    width: 5%;
    .iconCell;
}

.topbar
{
	text-align: left;
	.container
	{
		margin-left: 0px !important;
		width: 100% !important;
	}
	
}

.center
{
	text-align: center !important;
	margin: auto;
}

.right
{
	text-align: right;	
}

.left
{
	text-align: left;	
}

.middle
{
	vertical-align: middle;
}

.fullHeight
{
	height: 100%;	
}

.strong
{
	folt-weight: bold;	
}
.red
{
	color: red;
}
.noMargin
{
	margin: 0px !important;	
}
.noPadding
{
	padding: 0px !important;
}

.tweetContainer
{
	max-height: 600px; 
	overflow-y: auto;	
}

.pageSelector
{
	width: 50px;
}

.popover-inner
{
	overflow: auto !important;
}

.userDetailsTitle
{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-color: #eee;
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: black !important;
	color: white !important;
}
.userDetailsContent
{
	background-color: white !important;
	padding-top: 5px;
	padding-bottom: 5px;	
}
.userDetailsGravatar
{
	float: left;	
}

.userDetailsName
{
	font-weight: bold;	
}


#userDetailsPanel, #tweetsPanel
{
	padding-right: 1px !important;
}

#footerText
{
	text-align: center;
	position: fixed;  
	bottom: 0;
}

.gravatar
{
	width: 68px;
}



#followUserContent
{
	width: 100%;
	padding-right: 1px !important;
}

#homeContent
{
	.well.well-small.row-fluid
	{
		padding-right: 0px !important;
	}
	#tweetInputZone
	{
		vertical-align: middle;
		margin: auto !important;
	}
}

#tweetForm
{
	width: 100%;
	td:nth-of-type(1)
	{
		width: 80%;
		vertical-align: middle !important;
		padding-right: 5px;
		textarea
		{
			width: 100% !important;
			margin-bottom: 0px !important;
			padding: 0px !important;
		}		
	}
	
	td:nth-of-type(2)
	{
		width: 20%;
	}
}


.bgCover { 
	background:#000; 
	position:absolute; 
	left:0; top:0; 
	display:none; 
	overflow:hidden;
}

.overlayBox {
	border:5px solid #09F;
	position:absolute;
	display:none;
	width:500px;
	height:300px;
	background:#fff;
}

#footerText
{
	width: 100% !important;
	margin: auto !important;
}