body {
	padding-top: 60px; 
	/* 60px to make the container go all the way to the bottom of the top bar */
}


#tweetsList, #userTweetsList {
  color:#000000;
  tr
  {
  	vertical-align: top;
  	td:nth-of-type(1)
  	{
  		width: 34px;
  	}
  }
}


#friendTweetsList {
  color:#000000;
}
.tweetFriend {
    width: 24;
}
.tweetDate {
    width: 68;
}

.topbar
{
	text-align: left;
	.container
	{
		margin-left: 0px !important;
		width: 100% !important;
	}
	
}

#footerText
{
	text-align: center;
	position: fixed;  
	bottom: 0;
}

.gravatar
{
	width: 68px;
}

#userDetailsPanel, #tweetsPanel
{
	padding-right: 1px !important;
}


#followUserContent
{
	width: 100%;
	padding-right: 1px !important;
}

#homeContent
{
	.well.well-small.row-fluid
	{
		padding-right: 0px !important;
	}
	#tweetInputZone
	{
		vertical-align: middle;
		margin: auto !important;
	}
}

#footerText
{
	width: 100% !important;
	margin: auto !important;
}